@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  background-color: rgb(186, 177, 177);
}

html {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 26rem;
  margin-right: auto;
  margin-left: auto;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  background-color: white;
  border-radius: 50px;
}

.logo {
  width: 5rem;
  height: 5rem;
  background-image: url(./img/user.svg);
  background-size:96%; 
  border-radius: 100px;
  margin-bottom: 1rem;
}

h1{
  background-color: rgb(60, 58, 58);
  color: white;
  border-radius: 100px;
  padding: 0.5em;
}
